/* HSL */
$primary: hsla(324%, 92%, 10%, 1);
$primary-dark: hsla(354%, 86%, 28%, 1);
$secondary: hsla(156%, 41%, 44%, 1);
$warning: hsla(34%, 69%, 61%, 1);
$warning-light: hsla(45, 30%, 31%, 1);
$white: hsla(60%, 14%, 99%, 1);
$info: hsla(69%, 88%, 73%, 1);
$dark: hsla(240%, 1%, 0%, 1);
$dark-skin: hsla(6%, 5%, 17%, 1);

// Font family variables
$fira: 'Fira Sans Extra Condensed', sans-serif;
$lover: 'Lovers Quarrel', cursive;
$pontano: 'Pontano Sans', sans-serif;
 * {
    color: $dark;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
 }
 body {
   overflow: hidden;
   -webkit-overflow: hidden;
   -o-overflow: hidden;
   -ms-overflow: hidden;
   -moz-overflow: hidden;
 }
$min_width: 400;
$max_width: 800;
$min_font: 12;
$max_font: 16; 
:root { font-size: #{$min_font}px; letter-spacing: 0.03em; }
@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px){
  :root { 
    font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) ));
  }
}
@media (min-width: #{$max_width}px){ :root {font-size: #{$max_font}px;}}
.padded {padding: 0 10%;}
.back-link {padding-bottom: 10%;}

h1, h2, h3, h5, h5, h6 {
  font-family: $fira;
}
p {
  font-family: $lover;
}
article {
  font-family: $pontano;
}
.text-white {
  color: $white;
}

input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
#notify {
  position: fixed;
  top: 10px;
  right: 20px;
  width: auto;
  height: auto;
  z-index: 100;
  svg {
    width: 100%;
     
  }
   #bell {
      width:50px;
  }
  .circle {
          width: 35px;
          height: 35px;
          background: $warning;
          border-radius: 50%;
          position: relative;
          top: 22px;
          right: 15px;
          z-index: 1000;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          border: 4px solid white;
          
          p {
            color: white;
            font-weight: bold;
            font-variant: unset;
            font-kerning: normal;
          }
        }

}
#homepage {
  #landing {
  min-height: 100vh;
  width: 100%;
  background: $white;
  color: $dark;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 40px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.69' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(46.65) translate(-978.56 -733.92)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(46.65) translate(-978.56 -733.92)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(46.65) translate(-978.56 -733.92)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(46.65) translate(-978.56 -733.92)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(46.65) translate(-978.56 -733.92)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(46.65) translate(-978.56 -733.92)'%3E%3Cg fill='%23429e79'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(46.65) translate(-978.56 -733.92)'%3E%3Cg fill='%23429e79'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(46.65) translate(-978.56 -733.92)'%3E%3Cg fill='%23429e79'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  @media screen and (max-width: 500px){
    flex-flow: row-reverse wrap-reverse;
  }
  section#left {
    
    h1 {
      font-size: 4rem;
      @media screen and (max-width: 500px){
        font-size: 3rem;
        margin-top:-200px;
        -moz-margin-top:-200px;
        -ms-margin-top:-200px;
        -webkit-margin-top:-200px;
        -o-margin-top:-200px;
      }
    }    
    article {
      font-size: 1.3rem;
      letter-spacing: 1px;
      line-height: 1.4;
      width: 500px;
      margin-bottom: 20px;
      color: #4e4e4ec7;
      @media screen and (max-width: 500px){
        width: 100%;
      }
    }
    button#getStarted {      
      height: 50px;
      width: 50%;
      transition: all 350ms ease-in-out;
      background: hsla(233, 100%, 75%, 0.51);
      color: $primary-dark;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      &:hover, &:focus-within {
        background: $primary-dark;
        color: $white;
      }
      @media screen and (max-width: 500px){
        width: 100%;
      }
    }
  }

  section#right {
    display: none;

    @media screen and (max-width: 500px){
      display: block;
    }
  }

  // Filling the svg with colors
  svg {
    width: 100%;
    height: 200px;
    margin: auto;
  }
  #doc {
    fill: $secondary;
    stroke: $primary-dark;
  }
  #tors {
    fill: $info;
  }}
}
.howdy {
  width: 100%;
  height: 100vh;
  background: url('../images/howdy.svg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: $white;
  #que {
    p#text {
      font-size: 50px;
      color: $white;
    }
  }
  #ans {
    display: flex;
    flex-flow: row wrap;
   
    p {
      scroll-snap-align: center;
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 20px 10px 20px;
      border-radius: 13px;
      margin: 6px 4px 2px 6px;
      padding: 5px 10px 5px 10px;
      border-radius: 4px;
      cursor: pointer;
      transition: 300ms all cubic-bezier(0.165, 0.84, 0.44, 1);
      font-family: $pontano;
      span {
        font-size: 40px;
        color: $white;
      }

      &:hover, &:focus-within {
        box-shadow: 0px 0px 0px 0px #e0a557, 
                    -2px -2px 20px 0px #fdfdfc;
                    transform: translateY(-2px);
      }
    }
  }
}

.slide {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: $white;

  #que {
    p#text {
      font-size: 50px;
      color: $white;
    }
  }
  #ans {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    p {
      scroll-snap-align: center;
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 10px 20px 10px 20px;
      border-radius: 13px;
      margin: 6px 4px 2px 6px;
      padding: 5px 10px 5px 10px;
      border-radius: 4px;
      cursor: pointer;
      transition: 300ms all cubic-bezier(0.165, 0.84, 0.44, 1);
      font-family: $pontano;
      span {
        font-size: 40px;
        color: $white;
      }

      &:hover, &:focus-within {
        box-shadow: 0px 0px 0px 0px #e0a557, 
                    -2px -2px 20px 0px #fdfdfc;
                    transform: translateY(-2px);
      }
    }
  }
}
.s2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('../images/slide2.svg') no-repeat;
  background-size: cover;
  p {
    text-align: center;
  }
}
.s3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('../images/slide3.svg') no-repeat;
  background-size: cover;
  p {
    text-align: center;
  }
}
.s4 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('../images/slide4.svg') no-repeat;
  background-size: cover;

  textarea {
    width: 50%;
    height: 150px;
    border: none;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;

    @media screen and (max-width: 500px) {
      width: 90%;
    }
  }
   button#tellUs {      
          height: 42px;
          width: 100px;
          transition: all 350ms cubic-bezier(0, 0, 0, 1.09);
          background: #429c78;
          color: #eee;
          border: none;
          cursor: pointer;
      &:hover, &:focus-within {
            color: #fdfdfc;
            background: $warning;
      }
      @media screen and (max-width: 500px){
        width: 90%;
      }
    }
}
.s5 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('../images/slide5.svg') no-repeat;
  background-size: cover;

  p {
    text-align: center;
  }
}
.s6 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('../images/slide6.svg') no-repeat;
  background-size: cover;

  article {
    font-size: 20px;
    text-align: center;
  }

  .share {
    width: auto;
    height: auto;
    justify-content: space-between;
    button {
      padding: 15px;
      background: #090808;
      border: none;
      box-shadow: 0px 1px 7px 0px $white;
      cursor: pointer;
      border-radius: 4px;
      margin-top: 5px;
    }
    #or {
      font-family: $pontano;
    }
    i.fa-whatsapp, .fa-google, #or {
      color: $white;
      margin-left: 10px;
      font-size: 20px;
      padding: 5px;
      cursor: pointer;
      opacity: 0;
    }

    i.fa-whatsapp {
      color: #4CED69;
    }
    i.fa-google {
      color: tomato;
    }
  }
}


// Style for the navigation between pages
nav {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-weight: bold;
  i.fa {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    padding: 6px;
  }
}