/* HSL */
$primary: hsla(324%, 92%, 10%, 1);
$secondary: hsla(156%, 41%, 44%, 1);
$warning: hsla(34%, 69%, 61%, 1);
$white: hsla(96%, 71%, 99%, 1);
$info: hsla(69%, 88%, 73%, 1);

/* RGB */
$primary: rgba(50, 2, 31, 1);
$secondary: rgba(65, 157, 120, 1);
$warning: rgba(224, 164, 88, 1);
$white: rgba(251, 254, 249, 1);
$info: rgba(229, 247, 125, 1);

// Load font family from google
 * {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    // font-family: 'Lovers Quarrel', cursive;
    // font-family: 'Pontano Sans', sans-serif;
 }
$min_width: 400;
$max_width: 800;
$min_font: 12;
$max_font: 16; 
:root { font-size: #{$min_font}px; letter-spacing: 0.03em; }
@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px){
  :root { 
    font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) ));
  }
}
@media (min-width: #{$max_width}px){
   :root { 
     font-size: #{$max_font}px;
   }
}

